body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  width: 500px;
  padding: 50px;
  background: rgb(188, 224, 236);
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000000;
  font-size: 3rem;
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #594d4d;
  border-radius: 4px;
  margin-right: 10px;
}

#addTaskBtn {
  padding: 10px 15px;
  background-color: #102bf8d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addTaskBtn:hover {
  background-color: #2ec4ff;
}

#taskList {
  list-style: none;
  padding: 0;
}

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #7eafc0;
  margin-bottom: 10px;
  border-radius: 4px;
}

#taskList li button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

#taskList li button:hover {
  background-color: #e44151;
}
